<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Color</title>
  </head>
  <body>
  
   <nav>
 <button type="button" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#demo">Menu</button>
  <div id="demo" class="collapse">
  <div class="container-fluid">
  
    <ul class="navbar-nav">
      <li class="index.html">
        <a class="nav-link Home" href="index.html">Home</a>
		</li>
		<li class="page1.html">
        <a class="nav-link Home" href="index.html">page 1</a>
		</li>
    </ul>
  </div>
</nav>
  

    <form action='/response'>
      <label for="color">What is your favorite color?</label>
      <br>
      <input type="text" name="color" id="color">
      <br><br>
      
      <label for="num">What number do you want to multiply by 2?</label>
      <br>
      <input type="number" name="multNum" id="num" required>
      <br><br>
      <input type="submit">
    </form>

  </body>
</html>
